<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org.wiki/xacro">
    <gazebo reference="arm_base_link">
        <material>Gazebo/Orange</material>
    </gazebo>
    
    <gazebo reference="shoulder_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="arm_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="elbow_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="forearm_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="wrist_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="hand_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo>
        <plugin name="gz::sim::systems::JointStatePublisher" filename="gz-sim-joint-state-publisher-system">
            <update_rate>10</update_rate>
            <joint_name>joint1</joint_name>
            <joint_name>joint2</joint_name>
            <joint_name>joint3</joint_name>
            <joint_name>joint4</joint_name>
            <joint_name>joint5</joint_name>
            <joint_name>joint6</joint_name>
        </plugin>
    </gazebo>

    <!-- add gripper relative to hand begin-->
    <xacro:include filename="gripper.gazebo.xacro" />
    <!-- add gripper relative to hand end-->
</robot>