<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org.wiki/xacro">
    <gazebo reference="arm_base_link">
        <material>Gazebo/Orange</material>
    </gazebo>
    
    <gazebo reference="shoulder_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="arm_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="elbow_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="forearm_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="wrist_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="hand_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <!-- 机械臂关节状态已由 gz_ros2_control（GazeboSimROS2ControlPlugin）经 joint_state_broadcaster 提供，
         此处不再使用 GZ JointStatePublisher，避免 /joint_states 双源冲突 -->

    <!-- add gripper relative to hand begin-->
    <xacro:include filename="gripper.gazebo.xacro" />
    <!-- add gripper relative to hand end-->
</robot>