<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org.wiki/xacro">
    
    <gazebo reference="gripper_base_link">
        <material>Gazebo/DarkGreen</material>
    </gazebo>

    <gazebo reference="gripper_left_finger_link">
        <material>Gazebo/LightGreen</material>
    </gazebo>

    <gazebo reference="gripper_right_finger_link">
        <material>Gazebo/LightGreen</material>
    </gazebo>

    <!-- 夹爪关节状态已由 gz_ros2_control 经 joint_state_broadcaster 提供，不再使用 GZ JointStatePublisher -->
</robot>